.label {
  display: inline-block;
  color: white;
  padding: 0 1rem;
  line-height: 2rem;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: bold;
}

.label--red {
  background: tomato;
}

.label--orange {
  background: orange;
}

.label--green {
  background: green;
}

.label--grey {
  background: grey;
}

.label--blue {
  background: blue;
}

.label--disabled {
  background: #eee;
  color: silver;
}
